body,
button{
    font-family: "Inter",serif;
}

:root{
    --offcanvas-width:270px;
    --top-navabar-height:56px;
}

.dashboard-sidebar-nav{
    width: var(--offcanvas-width);
}
.offcanvas-backdrop {
    background-color: red !important;
}

@media (min-width:992px) {
    body{
        overflow: auto !important;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
    .dashboard-sidebar-nav{
        transform: none;
        visibility: visible !important;
        top:var(--top-navabar-height);
        height: calc(100%--top-navabar-height);
    }
}